/* CSS code for Lab 05 Challenge 03 */

body{
	background-color: green;
}

#wrapper{
  width: 850px;
  margin: 0 auto;
}

#content1, #content2{
  width: 250px;
  height: 240px;
  padding-top: 10px;
}

#content1{
  float: left;
  background-color: blue;
}

#content2{
  float: right;
  background-color: red;
}

#content3{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-color: yellow;
  clear: both;
}
