/* CSS for Assignment 04 */
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 14px 0;
}

a,
p,
li {
  font-size: 13px;
  list-style: none;
  font-family: Verdana, sans-serif;
}

.flexbox {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px !important;
  margin: 0 45px !important;
}

.clock {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 24px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

#header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 10px -2px gray;
}


.extraOptions {
  margin-left: 60rem;
}

#header a {
  margin: 22px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}

.heading h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  margin-top: 4rem;
}

.first-hero-banner {
  background-color: #c8bdbb;
  border: none;
  border-radius: 0;
  padding: 8rem 22rem;
  text-align: center;
  font-size: 24px;
}

.first-hero-banner h1 {
  padding-bottom: 22px;
}

.hero-banner-1-button {
  background-color: #8c6c57 !important;
  border: none !important;
  padding: 14px 26px;
  font-size: 22px;
  color: white;
  border-radius: 4px;
}

.topicsSection h2 {
  text-align: center;
}

.topicsContainer {
  margin: 2rem 4rem 4rem;
}

.hero-container-2 {
  /* background-color: red; */
  background: url("./images/elderly_01.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 38em;
  opacity: 90%;
}

.content-style-2 h1 {
  color: white;
}

.content-style-2 {
  position: relative;
  float: right;
  top: 10rem;
  right: 5rem;
  text-align: right;
  width: 40%;
}

.content-style-2 h2{
  color: white;
  font-size: 35px;
}

.content-style-2 button {
  background-color: #8c6c57 !important;
  border: none;
  padding: 15px 20px;
  font-size: 19px;
  color: white;
  margin-top: 16px;
}

.newsletterSection {
  width: 53%;
  margin: 3rem auto;
  text-align: center;
}


.left{
  width: 50%;
}

.right{
  width: 50%;
}

.options-heading{
  text-align: center;
  margin: 3rem 2rem 6rem;
}

.option-image{
    width: 65%;
}

.option-container{
    display: flex;
    justify-content: flex-end;
    margin: 5rem 0rem 7rem;
}

.option-card{
    width: 30%;
    /* padding: 10px 30px; */
}

.option-card h2{
    line-height: 3;
}

.option-card p{
    font-size: 19px;
}

.community-heading{
    text-align: center;
    margin: 3rem 2rem 6rem;
}


.community-footer{
    margin-top: 8rem;
}

.community-footer p{
    font-size: 15px;
    color: grey;
    margin-left: 20px;
}

.newsletter-section{
  text-align: center;
  padding: 9rem 21rem;
}

.newsletter-section hr{
  border: 2px solid black !important;
  width: 38%;
  margin: 1rem auto 3rem;
}

.newsletter-section p{
  font-size: 24px;
}

.newsletter-btn{
  background-color: #8C6C57;
  padding: 14px 40px;
  border: none;
  color: white;
  position: relative;
  right: 24px;
  font-size: 20px;
  top: 1px;
}

.newsletter-signup-input{
  background-color: #f1f1f1;
  border-radius: 0;
  width: 50%;
  border: none;
  padding: 15px;
  font-size: 17px;
}


.hero-banner-3-image{
  width: 52%;
}

.hero-banner-3-image img{
  width: 100%;
}

.hero-banner-3-btn{
  padding: 10px 25px;
  background-color: #4F83B8;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
}

.hero-banner-3{
  display: flex;
  background-color: #f2f3f7;
}

.hero-banner-3-content{
  width: 50%;
  padding: 6rem;
}

.hero-banner-3-content h2{
  font-size: 32px;
}

.hero-banner-3-content p{
  font-size: 24px;
  margin: 30px 0px 37px;
  font-weight: 200;
  line-height: 1.5;
}


.footer {
  position: relative;
  background: #3586ff;
  min-height: 100px;
  padding: 4rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon-container,
.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icons,
.menu-options {
  list-style: none;
}

.social-icon-link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon-link:hover {
  transform: translateY(-10px);
}

.menu-link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu-link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {background-position-x: 1000px;}
  100% {background-position-x: 0px;}
}

@keyframes animate {
  0% {background-position-x: -1000px;}
  100% {background-position-x: 0px;}
}
