/* CSS for Assignment 04 */
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 14px 0;
  color: #2c3e50;
}

a,
p,
li {
  font-size: 13px;
  list-style: none;
  font-family: Verdana, sans-serif;
}

.flexbox {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 28px;
  color: white;
  margin: 0 23px;
}

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #cccccc;
  top: 0;
  left: 0;
}

.extraOptions {
  margin-left: auto;
}

#header a {
  margin: 10px;
}

.content {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

.heading h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  margin-top: 4rem;
}

.first-hero-banner {
  background-color: #c8bdbb;
  border: none;
  border-radius: 0;
  padding: 7em;
  text-align: center;
}

.first-hero-banner h1 {
  padding-bottom: 22px;
}

.hero-banner-1-button {
  background-color: #8c6c57 !important;
  border: none !important;
  padding: 11px 20px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
}

.topicsSection h2 {
  text-align: center;
}

.topicsContainer {
  margin: 2rem 4rem 4rem;
}

.hero-container-2 {
  /* background-color: red; */
  background: url("../img/elderly_01.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 38em;
}

.content-style-2 h1 {
  color: white;
}

.content-style-2 {
  position: relative;
  float: right;
  top: 9em;
  text-align: right;
  width: 40%;
}

.content-style-2 button {
  background-color: #8c6c57 !important;
  border: none;
}

.newsletterSection {
  width: 53%;
  margin: 3rem auto;
  text-align: center;
}


.left{
  width: 50%;
}

.right{
  width: 50%;
}
